## Variables de tiempo/fecha en phyton

## Estadistica Aplicada

### Alan Fernando Del Real Almaguer 1918760

**15va Sesion, 30 de Marzo**

In [ ]:
from datetime import datetime

In [16]:
mi_year=2023
mi_mes=3 
mi_dia=30
mi_hora=15
mi_minuto=25
mi_segundo=30

In [17]:
mi_fecha=datetime(mi_year,mi_mes,mi_dia)
mi_fecha

datetime.datetime(2023, 3, 30, 0, 0)

In [18]:
mi_fecha_hora=datetime(mi_year,mi_mes,mi_dia,mi_hora,mi_minuto,mi_segundo)
mi_fecha_hora

datetime.datetime(2023, 3, 30, 15, 25, 30)

Una vez que una variable es de tipo fecha se puede acceder a sus componenetes

In [21]:
##acceder al a√±o de mi_fecha_hora
mi_fecha_hora.year

2023

In [22]:
#acceder al mes de mi_fecha_hora
mi_fecha_hora.month

3

In [23]:
#acceder a la hora de mi_fecha_hora
mi_fecha_hora.minute

25

## fechas en numpy

In [24]:
import numpy as np

In [26]:
np.array(["2002-09-16","2002-08-31"], dtype="datetime64")

array(['2002-09-16', '2002-08-31'], dtype='datetime64[D]')

In [27]:
np.array(["2002-09-16","2002-08-31"], dtype="datetime64[h]")

array(['2002-09-16T00', '2002-08-31T00'], dtype='datetime64[h]')

In [29]:
np.array(["2002-09-16","2002-08-31"], dtype="datetime64[Y]")

array(['2002', '2002'], dtype='datetime64[Y]')

In [33]:
np.array(["2002-09-16","2002-08-31"], dtype="datetime64[M]")

array(['2002-09', '2002-08'], dtype='datetime64[M]')

In [35]:
np.arange("2002-09-16","2023-03-30",1,dtype="datetime64[Y]")

array(['2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009',
       '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017',
       '2018', '2019', '2020', '2021', '2022'], dtype='datetime64[Y]')

In [38]:
np.arange("2023-01-23","2023-03-30",1,dtype="datetime64[D]")

array(['2023-01-23', '2023-01-24', '2023-01-25', '2023-01-26',
       '2023-01-27', '2023-01-28', '2023-01-29', '2023-01-30',
       '2023-01-31', '2023-02-01', '2023-02-02', '2023-02-03',
       '2023-02-04', '2023-02-05', '2023-02-06', '2023-02-07',
       '2023-02-08', '2023-02-09', '2023-02-10', '2023-02-11',
       '2023-02-12', '2023-02-13', '2023-02-14', '2023-02-15',
       '2023-02-16', '2023-02-17', '2023-02-18', '2023-02-19',
       '2023-02-20', '2023-02-21', '2023-02-22', '2023-02-23',
       '2023-02-24', '2023-02-25', '2023-02-26', '2023-02-27',
       '2023-02-28', '2023-03-01', '2023-03-02', '2023-03-03',
       '2023-03-04', '2023-03-05', '2023-03-06', '2023-03-07',
       '2023-03-08', '2023-03-09', '2023-03-10', '2023-03-11',
       '2023-03-12', '2023-03-13', '2023-03-14', '2023-03-15',
       '2023-03-16', '2023-03-17', '2023-03-18', '2023-03-19',
       '2023-03-20', '2023-03-21', '2023-03-22', '2023-03-23',
       '2023-03-24', '2023-03-25', '2023-03-26', '2023-03-27',
       '2023-03-28', '2023-03-29'], dtype='datetime64[D]')

## fechas en pandas

In [52]:
import pandas as pd

In [53]:
# La semana del 8 de Julio del 2018
semana8=pd.date_range("7/8/18",periods=7,freq="D")
semana8

DatetimeIndex(['2018-07-08', '2018-07-09', '2018-07-10', '2018-07-11',
               '2018-07-12', '2018-07-13', '2018-07-14'],
              dtype='datetime64[ns]', freq='D')

In [55]:
## de que forma los podemos pasar fechas a pandas
pd.to_datetime(['Apr 12, 2023', '3/30/23','1-Jan-2020'])

DatetimeIndex(['2023-04-12', '2023-03-30', '2020-01-01'], dtype='datetime64[ns]', freq=None)

In [50]:
algunas_fechas=np.array(["2023-01-12","2022-04-10"],dtype="datetime64[D]")
algunas_fechas

array(['2023-01-12', '2022-04-10'], dtype='datetime64[D]')

In [57]:
algunas_fechas=pd.to_datetime(algunas_fechas)